body {
  background-color: #2a2b4a;
  color: white;
  text-align: left;
  font-family: 'DM Serif Text', serif;
  margin-left: 10%;
  margin-right: 10%; 
}

.heading {
  font-family: teko;
  text-align: center;
  font-size: 300%;
  text-shadow: #4A3E76 2px 2px
}

h2.heading {
  font-size: 200%;
}

.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 5px;
  border-radius: 9px;
  background-color: #d3dbec;
  color: #666666;
}

a {
  color:  #e60000;
}

a:visited {
  color: #FFB347;
}
