body {
  background-color: #2b2c4b;
  color: white;
  text-align: left;
  font-family: 'DM Serif Text', serif;
  margin-left: 10%;
  margin-right: 10%; 
}

.heading {
  font-family: teko;
  text-align: center;
  font-size: 300%;
  text-shadow: #4A3E76 2px 2px
}

h2.heading {
  font-size: 200%;
}

a:active {
  color: #0b446b
}

a:visited {
  color: #e60000;
}
