body {
  background-image:"https://img.freepik.com/free-vector/gradient-black-backgrounds-with-golden-frames_23-2149150610.jpg?ga=GA1.1.560940526.1739496076&semt=ais_authors_boost";
  color: white;
  text-align: left;
  font-family: 'DM Serif Text', serif;
  margin-left: 10%;
  margin-right: 10%; 
}

.heading {
  font-family: teko;
  text-align: center;
  font-size: 300%;
  text-shadow: #4A3E76 2px 2px
}

h2.heading {
  font-size: 200%;
}

a:active {
  color: #0b446b
}

a:visited {
  color: #e60000;
}
