#b-square {
  background-color: #FFCCBC;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

#r-square {
  background-color: #BF360C;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  
}

#row-1 {
}

#row-2 {
  
}

#row-3 {
  
}

#row-4 {
  
}

#row-5 {
  
}

#row-6 {
  
}

#row-7 {
  
}

#row-8 {
  
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0px;
  max-width: 352px;
  height: 352px;
  margin-top: 10%;
  margin-left: 39%;
  margin-right: 25%;
}

