body {
  margin: 0px;
  background-color: #000;
  color: #777;
}

#banner {
  width: 100vw;
}

#content, #album, #info{
  float: left;
}

#content {
  border: solid 2px black;
  max-width: 50%
}

#album {
  max-width: 30%
}

#info {
  max-width: 20%;
  float: right;
}

#player audio::-webkit-media-controls-play-button {
  border-radius: 50%
}

#playbutton {
  float: left;
}

#tracklist {
  list-style-type: none;
}

.track-li {
  font-size: 150%;
  font-style: italic;
}

.track-player {
  background-color: rgba(0, 0, 0, 1);
}

.track-player {
  height: 1em;
}

#album-cover {
  width: 85%;
}
