body {
  font-family: 'noticia text';
  margin: 0px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/039_Northern_lights_over_M%C3%BDvatn_%28Iceland%29_Photo_by_Giles_Laurent.jpg/640px-039_Northern_lights_over_M%C3%BDvatn_%28Iceland%29_Photo_by_Giles_Laurent.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-color: rgba(100, 50, 50, .5);
  background-blend-mode: lighten;
}

.heading {
  text-align: center;
  font-family: 'UnifrakturMaguntia';
  font-size: 300%;
  margin-bottom: 15px;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.55;
}

#preheader, #header {
  background-color: #fff;
}

#preheader {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

#header {
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 0px 0px 0px;
}

#links {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  width: 100%;
  align-content: center;
}

.navlink {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #444;
  margin: auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navlink:hover {
  color: #2f4f4f;
  background-color: #eee;
}

.navlink-spacer {
  width: 0%;
  color: #2f4f4f;
  padding: 0px;
  margin: 0px;
  border: solid 1px #2f4f4f;
}

#content {
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px 15px 5px;
  background-color: rgb(255, 255, 255, 0.899);
}

hr {
  width: 50%;
  height: 2px;
  background-color: #2f4f4f;
  border: 0px;
  margin-bottom: 0px;
}

.article > p:first-letter {
  font-size: xx-large;
}

.art-pic {
  float: right;
  padding: 10px;
  width: 30%;
  border: solid 1px #2f4f4f;
  text-align: center;
  font-style: italic;
  font-size: 75%;
  margin: 10px;
}

.art-pic img {
  width: 100%;
}

br {
  display: block;
  content: "";
  margin-top: 2em;
}

#publish-info {
  text-align: right;
  padding-right: 10%;
}

#address {
  text-align: left;
  padding-left: 10%;
}

#footer {
  font-size: 75%;
  width: 100%;
  background-color:#2f234f;
  color: #eee;
  margin: 0px;
}

#footer {
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

# footer p, #footer br {
  margin: 0px;
}
